<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= rem.text_field :date,class: 'form-control datepicker', required: true %>
    <%= rem.label :date, class: 'form-control-placeholder' %>
  </div>
  <div class="form-group">
    <%= rem.text_field :antecedents,class: 'form-control', required: true %>
    <%= rem.label :antecedents, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :outcome,class: 'form-control', required: true %>
    <%= rem.label :outcome, class: 'form-control-placeholder' %>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= rem.text_field :time,class: 'form-control timepicker', required: true %>
    <%= rem.label :time, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :behavior_text,class: 'form-control', required: true %>
    <%= rem.label :behavior_text, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :initials,class: 'form-control', required: true %>
    <%= rem.label :initials, class: 'form-control-placeholder' %>
  </div>
</div>


<script type="text/javascript">
  $(function () {

    $('.datepicker').datepicker({

      format: 'yyyy/mm/dd',
      icons: {
        time: 'fa fa-clock',
        date: 'fa fa-calendar',
        up: 'fa fa-arrow-up',
        down: 'fa fa-arrow-down',
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-calendar-check-o',
        clear: 'fa fa-trash',
        close: 'fa fa-times'

      },

    });

    $('.timepicker').datetimepicker({

      icons: {
        time: 'fa fa-clock',
        date: 'fa fa-calendar',
        up: 'fa fa-arrow-up',
        down: 'fa fa-arrow-down',
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-calendar-check-o',
        clear: 'fa fa-trash',
        close: 'fa fa-times'

      },

      format: 'LT'
    });

  });
</script>