<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= rem.text_field :attempts_to_reach_driver,class: 'form-control', required: true %>
    <%= rem.label :attempts_to_reach_driver, class: 'form-control-placeholder' %>
  </div>
  <div class="form-group">
    <%= rem.text_field :physical_aggression,class: 'form-control', required: true %>
    <%= rem.label :physical_aggression, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :verbal_threats,class: 'form-control', required: true %>
    <%= rem.label :verbal_threats, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :time_hold_used,class: 'form-control', required: true %>
    <%= rem.label :time_hold_used, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :two_person_containment,class: 'form-control', required: true %>
    <%= rem.label :two_person_containment, class: 'form-control-placeholder' %>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= rem.text_field :attempt_to_contact_mom,class: 'form-control', required: true %>
    <%= rem.label :attempt_to_contact_mom, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :elopement,class: 'form-control', required: true %>
    <%= rem.label :elopement, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :chair_containment,class: 'form-control', required: true %>
    <%= rem.label :chair_containment, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= rem.text_field :time_hold_used_1,class: 'form-control', required: true %>
    <%= rem.label :time_hold_used_1, class: 'form-control-placeholder' %>
  </div>
</div>