<div id="page-wrapper">
  <div class="row">
    <p>&nbsp;</p>
    <div class="panel panel-default">
      <div class="panel-heading indiviuals_list">
        Behaviors

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>S. No.</th>
              <th>Individual Name</th>
              <th>Provider</th>
              <th>Provider No</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <% @behaviors.each_with_index  do |behavior, i| %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= behavior.user.full_name if behavior.user.present? %></td>
                  <td><%= behavior.provider %></td>
                  <td><%= behavior.provider_no %></td>
                  <td><%= link_to edit_behavior_path(behavior) do %>
                        <%= image_tag 'setting.png' %> Edit
                    <% end %>
                  </td>
                  <td>
                    <%= link_to behavior_path(behavior) do %>
                        <i class="fa fa-eye"></i> View
                    <% end %>
                  </td>
                  <td>
                    <% if current_user.admin? %>
                        <%= link_to  behavior_path(behavior,authenticity_token: form_authenticity_token), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <%= image_tag 'delete.png' %> Delete
                        <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>


      <!-- /.panel-body -->
    </div>
    <%= link_to 'Add New Entry', new_behavior_path, class: 'btn add_entry' %>
  </div>
  <!-- /.row -->
</div>