<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= hpcs.text_field :path_to_employment,class: 'form-control', required: true %>
    <%= hpcs.label :path_to_employment, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :staff_assistance,class: 'form-control', required: true %>
    <%= hpcs.label :staff_assistance, class: 'form-control-placeholder' %>
  </div>
  <div class="form-group">
    <%= hpcs.text_field :assist_with_learning_work,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_learning_work, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_developing_skills,class: 'form-control', required: true %>
    <%= hpcs.label :assist_developing_skills, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assistance_with_cooking_planing,class: 'form-control', required: true %>
    <%= hpcs.label :assistance_with_cooking_planing, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assistance_with_cooking_lunch,class: 'form-control', required: true %>
    <%= hpcs.label :assistance_with_cooking_lunch, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assistance_with_snack,class: 'form-control', required: true %>
    <%= hpcs.label :assistance_with_snack, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_household_chores,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_household_chores, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_to_stay_on_task,class: 'form-control', required: true %>
    <%= hpcs.label :assist_to_stay_on_task, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :liesure_activities_which_he_loves,class: 'form-control', required: true %>
    <%= hpcs.label :liesure_activities_which_he_loves, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_learning_to_budget_money,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_learning_to_budget_money, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :give_individual_for_friday,class: 'form-control', required: true %>
    <%= hpcs.label :give_individual_for_friday, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_household_maintenance,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_household_maintenance, class: 'form-control-placeholder' %>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <%= hpcs.text_field :self_administered_medication,class: 'form-control', required: true %>
    <%= hpcs.label :self_administered_medication, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :provide_supervision,class: 'form-control', required: true %>
    <%= hpcs.label :provide_supervision, class: 'form-control-placeholder' %>
  </div>
  <div class="form-group">
    <%= hpcs.text_field :assist_coping_skills,class: 'form-control', required: true %>
    <%= hpcs.label :assist_coping_skills, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_maintaining_diet_control,class: 'form-control', required: true %>
    <%= hpcs.label :assist_maintaining_diet_control, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assistance_with_cooking_breakfast,class: 'form-control', required: true %>
    <%= hpcs.label :assistance_with_cooking_breakfast, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assistance_with_cooking_dinner,class: 'form-control', required: true %>
    <%= hpcs.label :assistance_with_cooking_dinner, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :liesure_activities,class: 'form-control', required: true %>
    <%= hpcs.label :liesure_activities, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_laundry,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_laundry, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :provide_assist_with_reminding_to_shower,class: 'form-control', required: true %>
    <%= hpcs.label :provide_assist_with_reminding_to_shower, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :encourage_to_work_for_his_own_money,class: 'form-control', required: true %>
    <%= hpcs.label :encourage_to_work_for_his_own_money, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_shopping,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_shopping, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :assist_with_laccessing_the_community,class: 'form-control', required: true %>
    <%= hpcs.label :assist_with_laccessing_the_community, class: 'form-control-placeholder' %>
  </div>

  <div class="form-group">
    <%= hpcs.text_field :night_on_site_on_call,class: 'form-control', required: true %>
    <%= hpcs.label :night_on_site_on_call, class: 'form-control-placeholder' %>
  </div>
</div>